/* styles.css */
body {
  font-family: Arial, sans-serif;
    margin: 0;
      padding: 0;
      }

header {
background-color:black;
color: #fff;
padding: 1em;
text-align: center;
 }
 img{
  height: 4rem;
 }
 .button-container{
  display: flex;
  justify-content: center;
  gap: 10px;
 }


 button{
  height: 1.5rem;
  color: rgb(254,222,87);
  background-color: black;
  border: 1px solid white;
  border-color: rgb(254,222,87);
  padding: 5px;
  margin-left: 2px;
  font-size: xx-small;
 }

 #lang-en{
  color:rgb(254,86,86);
  border-color:rgb(254,86,86);
 }
 /* Navbar */
.navbar {
  /*background-color: #444;*/
  background-color: black;
  overflow-x: auto; /* Scroll horizontal */
  white-space: nowrap;
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  flex: 0 0 auto;
}

.navbar a {
  display: block;
  padding: 1em;
  color: #fff;
  background-color: rgb(240, 52, 52);
  text-decoration: none;
  border-radius: 5px;
}

.navbar a:hover {
  background-color: #666;
}


 

main {
display: flex;
flex-direction: column;
align-items: center;
padding: 2em;
background-color: rgb(254,222,87);
      }

section {
  width: calc(100% - 2em);
background-color: rgba(247,247,247, 0.7);
padding: 1em;
margin-bottom: 1em;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
border-radius: 10px;
}

h2 {
margin-top: 0;
padding: 5px;
background-color: rgb(254,86,86);
display: inline-block;
border-radius: 2px;
color: white;
transform: rotate(-5deg);

}

ul {
list-style: none;
padding: 0;
margin: 0;
}

li {
padding: 0.5em;
border-bottom: 1px solid #ccc;
}

.simbol{
margin-left: 4px;
}
p{
  font-size: smaller;
}

li:last-child {
border-bottom: none;

}
.item-container{
  display: flex;
  justify-content: space-between;
}

/* Media queries para pantallas más grandes */
@media (min-width: 768px) {
main {
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
section {
margin: 1em;
width: calc(33.33% - 2em);
}
}
                                                                        
